@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font: 13px / 27px Roboto, Arial, sans-serif;
  color-scheme: light dark;
  
  color: black;
  background-color: white;
  --FILTER-COLOR:#e8effa;
  --HOVER-COLOR:#c5ccd6;
  --EMAIL-PREVIEW-HOVER-COLOR:#202124;
  --FILTER-BUTTON-HOVER:rgb(222, 222, 245);
  --CHOSEN-FOLDER-COLOR:#b0d1ff;
  --BORDER-BOTTOM-FOR-MAIL:rgb(190, 188, 188);
  --COMPOSE-BOTTON-COLOR: #c2e7ff;
  --GREY-COLOR:grey;
  --FOLDER-HOVER-COLOR:#d6dcee;
  --NO-BG-COLOR:rgb(0,0,0,0);
  --BLACK-COLOR:black;
  --SEARCH-BAR-COLOR:#dde7f7;
  --SEND-BUTTON-COLOR:#0b57d0;
  --SEND-BUTTON-HOVER-COLOR:#0a49b5;
  --MESSAGE-BORDER:#ddd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  min-height: 100vh;
}

